

.img {
    width: 70%;
    border-radius: 40%;
    margin: 10px;
}

.div {
    background-color: #b3e8f8;
    border-radius: 5%;
    margin: 10px;
}

.title {
    font-size: 40pt;
    color:#78afd6;
    font-weight: 500;
    text-shadow: #ffffff 2px 3px 5px;
}